:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #00aa6e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.open {
    display: flex !important;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}