:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --darkgrey-color:#282A35;
    --green-color:rgb(4, 170, 109);
    --greenhover-color:#059862 ;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62, 5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}