/* app */

.body {
    position: relative;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--white-color);
}

.navbar-body-left {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.navbar__home {
    padding: 3px 19px;
}

.navbar__home-img {
    height: 36px;
    margin-top: 8px;
}

.navbar__selection {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 20px 20px;
}

.navbar__selection:hover {
    background-color: #04AA6D;
    color: var(--white-color);
}

.navbar__selection-item {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar__selection-text {
    margin: 0;
    margin-right: 4px;
    font-weight: 400;
}

.navbar__search {
    height: 36px;
    width: 178px;
    border: 1px solid #cbcbcb;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
    margin-left: 8px;
}

.navbar__search-icon {
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 28px;
}

.navbar__search-input {
    width: 100%;
    height: 34px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    margin-left: 6px;
    outline: none;
}

.navbar__search-input::placeholder {
    font-style: italic;
}

.navbar__search-icon:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.navbar__dark-mode {
    margin-left: 6px;
    margin-right: 8px;
}

.navbar__dark-mode-icon {
    padding: 10px 10px;
    font-size: 1.6rem;
}

.navbar__dark-mode-icon:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 50%;
}

.navbar-body-right {
    display: flex;
    /* align-items: center; */
    overflow: hidden;
}

.navbar__service-list {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar__service {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 25px;
    height: 38px;
    animation: opacity 0.1s ease;
}

.navbar_right-icon {
    font-size: 1.6rem;
    color: #b48ff6;
}

.navbar_right-text {
    font-size: 1.6rem;
    margin-left: 4px;
}

.navbar__service:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.navbar__access {
    display: flex;
    align-items: center;
    min-width: 154px;
}

.navbar__acess-form {
    font-size: 1.6rem;
    /* padding: 8px 16px; */
    text-decoration: none;
    display: flex;
    margin-right: 16px;
}

.navbar__acess-sign-up {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 16px;
    border-radius: 25px;
    z-index: 1;
    padding-right: 20px;
}

.navbar__acess-log-in {
    background-color: #d9eee1;
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 23px 8px 30px;
    margin-left: -24px;
    border-radius: 25px;
}

.navbar__acess-sign-up:hover {
    background-color: #059862;
}

.navbar__acess-log-in:hover {
    background-color: #059862;
    color: var(--white-color);
}


/* Header */


/* Modal */

.modal {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
}

.modal-services,
.modal-certificates,
.modal-tutorials,
.modal-exercises {
    width: 100%;
    background-color: #282A34;
    padding-top: 34px;
    padding-bottom: 34px;
    display: none;
}

.modal-tutorials__content {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 950px;
    padding: 0 16px;
}

.mdt-header {
    display: flex;
    align-items: center;
}

.head {
    color: #FFF4A2;
    font-size: 3.2rem;
    width: 37%;
}

.filter {
    background-color: #464645;
    width: 314px;
    height: 46px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.filter__search {
    font-size: 1.6rem;
    background-color: #464645;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    padding-left: 22px;
}

.filter__search::placeholder {
    font-style: italic;
    color: var(--white-color);
}

.fiter__icon {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 15px 19px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}

.fiter__icon:hover {
    background-color: rgba(52, 52, 52, 0.5);
    cursor: pointer;
}

.close {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.close:hover {
    cursor: pointer;
    background-color: #fbfbfb;
    color: #000;
}

.close__icon {
    font-size: 4rem;
    color: var(--white-color);
    padding: 16px;
}

.close__icon:hover {
    color: #000;
}

.list-left-top {
    margin-bottom: 52px;
}

.list-left__header {
    color: #fdf4a1;
    font-size: 2.4rem;
    margin-bottom: 36px;
}

.list-left__list {
    padding: 0;
}

.list-left__list-item {
    list-style: none;
    margin: 16px 0;
}

.list-item__head {
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 2px 6px;
    margin-bottom: 32px;
}

.list-item__head:hover {
    background-color: #ccc;
    color: var(--black-color);
    border-radius: 4px;
}

.list-left__list-item a:first-child {
    text-decoration: none;
}

.list-item-link {
    font-size: 1.2rem;
    color: #fdf4a1;
    padding: 2px 6px;
    margin-bottom: 20px;
}

.list-item-link:hover {
    background-color: #059862;
    color: var(--white-color);
    border-radius: 4px;
}

.mdt-course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8px;
}

.list-item__head-learn {
    font-size: 1.5rem
}

.list-left__list--hot {
    padding: 3px 10px;
    font-size: 1.1rem;
    background-color: #d7242b;
    border-radius: 25px;
    border: 1px solid var(--black-color);
}

.list-left__list--new {
    padding: 3px 10px;
    font-size: 1.1rem;
    background-color: #00ab6b;
    border-radius: 25px;
    border: 1px solid var(--black-color);
}

.select {
    background-color: #272b35;
    color: var(--white-color);
}

.ex_and_quiz {
    margin-top: 52px;
}

.ex_and_quiz__content {}

.ex,
.quiz {
    height: 32px;
    background-color: #20232b;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
    line-height: 32px;
}

.ex__link,
.quiz__link {
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 4px 18px;
    text-decoration: none;
    font-weight: 400;
}

.quiz__link {
    padding: 4px 39px;
}

.modal-services__note {}

.modal-services__note-text {
    font-size: 1.7rem;
    color: var(--white-color);
    line-height: 3.2rem;
    padding: 30px 13px 15px 13px;
}

.modal-services__column {
    display: flex;
    justify-content: space-around;
    padding: 8px 16px;
}

.modal-services__row {
    background-color: #3d404a;
    width: 290px;
    border-radius: 5px;
    padding: 8px 16px;
}

.row__heading {
    font-size: 2rem;
    color: #fdf5a5;
    margin: 28px 0;
    display: flex;
    justify-content: space-between;
}

.row__text {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 28px;
}

.row__text-2 {
    margin-top: -20px;
}

.modal-services__socials {
    padding: 100px 17px 20px;
}

.modal-services__socials-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 0 16px;
    margin-right: 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
}

.modal-services__socials-icon:hover {
    background-color: #fbfbfb;
    color: var(--black-color);
    cursor: pointer;
}

.row__img {
    height: 35px;
    transform: translateY(-18px);
}

.header {
    margin-top: 56px;
    width: 100%;
    background-color: #282b35;
}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0px;
}

.header__item:hover {
    background-color: #000;
    cursor: pointer;
}

.header__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 15px;
    display: inline-block;
    width: 100%;
    color: var(--white-color);
    font-weight: 300;
}

.header::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.header::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}