/* Responesive in PC */

@media (max-width: 64em) {}


/* Responesive in Tablet and Mobile  */

@media (max-width: 63.9375em) {}


/* Responesive in Tablet */


/* 46.25em && 63.9375em */

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .navbar__service-list {
        display: none;
    }
    .navbar__search {
        height: auto;
        width: auto;
        border: none;
    }
    .navbar__search-input {
        display: none;
    }
    .navbar__search-icon {
        padding: 9px;
    }
    .navbar__selection {
        padding: 20px 12px;
    }
}


/* Responesive in Mobile */

@media (max-width: 46.1875em) {
    .navbar__search {
        display: none;
    }
    .navbar__selection-text {
        font-size: 1.2rem;
    }
    .slide-1 {
        background-image: url(../img/backgroundslide1.2.webp);
        background-position: center center;
        margin-top: 0;
        padding-top: 0;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .slide-1__heading {
        font-size: 5rem;
    }
    .slide-1__content {
        text-align: center;
        max-width: 980px;
        padding-left: 35px;
        padding-right: 35px;
        margin: auto;
    }
    .slide-1__text {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 2.1rem;
        color: #ffea8c;
        font-weight: 700;
        margin-bottom: 42px;
        line-height: 1.6;
    }
    .slide-1__search-input {
        font-size: 1.6rem;
        width: 80%;
    }
    .slide-1__search-btn {
        width: 20%;
    }
}